# Supabase Settings
SUPABASE_URL=https://xydqfdqvbjmjrebysfzz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5ZHFmZHF2YmptanJlYnlzZnp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3ODU1NTUsImV4cCI6MjA4MzM2MTU1NX0._ZBnkZYmm6c91DuLffVIulCyqkW3DKZCoyP1UA2qILI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5ZHFmZHF2YmptanJlYnlzZnp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzc4NTU1NSwiZXhwIjoyMDgzMzYxNTU1fQ.dchv8x9GLoFurXIbZ2ARj7iBjbsWVQGGneRTIW6sx_c
